#title-container {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-content: stretch;
    background-color: #666666;
  }
  
  .title {
    position: flex;
    /* margin-top:auto; */
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    align-items: center;  /* 垂直置中 */
    justify-content: center;  /* 水平置中 */
    flex-direction: column;
    color: #000;
  }